.print-only,
.print-only * {
    display: none !important;
}

.underline {
    text-decoration: underline;
}

.highlight {
    background: yellow;
}

.resume-header .title {
    font-size: 1.25rem;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.resume-header .name {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* Feedback */
.feedback-icon {
    width: 20px;
    opacity: 0.3;
    margin-left: -25px;
}

.hide-feedback,
.feedback-text {
    display: none;
}

.secondary-info.ml-md-auto.mt-2 {
    min-width: 220px;
    text-align: left;
}

.resume-social {
    text-align: left;
}


/* company links on resume */
.resume-company-name a {
    text-decoration: underline;
}

.find-more {
    text-transform: none;
    float: right;
    font-weight: normal;
    font-size: initial;
}


.resume-header.resume-header-page-2 {
    display: none;
}

.footer-message a {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .resume-header .name {
        font-size: 2.0rem;
    }

    .resume-header .title {
        font-size: 1.15rem;
    }
}

@media (max-width: 950px) {
    .resume-header .name {
        font-size: 1.8rem;
    }

    .resume-header .title {
        font-size: 1.1rem;
    }
}

@media (max-width: 991px) {
    .secondary-info.ml-md-auto.mt-2 {
        margin-left: 20px !important;
    }

    .resume-header-page-2 {
        display: none;
    }
}
span.page-indicator {
    display: none;
}
