__pycache__/

.env
.vscode/

*.logs
*.log
.pytest_cache/
*.out
archive/
drafts/
venv/
.DS_Store

*.parquet
*.bin
*.pkl
download/:
/.cfg
__pycache__/
utils/__pycache__
~/.aws
archive
tools
*.csv
*.log
*.egg-info

# SQLite databases
*.db
*.db-journal
*.db-wal
*.db-shm

poetry.lock